<section>
  <h2>Admin Dashboard</h2>

  <!-- Section to Add New Establishment -->
  <article>
    <h3>Add New Establishment</h3>
    <ul>
      <li><a href="/admin/addPark">Add New Park</a></li>
      <li><a href="/admin/addStore">Add New Store</a></li>
    </ul>
  </article>

  <section>
    <h2>Search for Establishment</h2>
    <form action="/admin" method="POST">
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" />

      <label for="zipCode">Zip Code:</label>
      <input type="text" id="zipCode" name="zipCode" />

      <label for="type">Type:</label>
      <select id="type" name="type">
        <option value="park">Park</option>
        <option value="store">Store</option>
      </select>

      <button type="submit">Search</button>
    </form>
  </section>

   <!-- Search Results Display -->
    {{#if searchResults}}
        <section>
            <h2>Search Results</h2>
            <ul>
                {{#each searchResults}}
                    <li>
                        <span>{{this.name}} - {{this.type}}</span>
                        <a href="/admin/edit{{this.type | capitalize}}/{{this.id}}">Edit</a>
                        <a href="/admin/delete{{this.type | capitalize}}/{{this.id}}">Delete</a>
                    </li>
                {{/each}}
            </ul>
        </section>
    {{else}}
        <p>No results found.</p>
    {{/if}}

</section>
