<section>
  <h2>Edit Store: {{petStore.storeName}}</h2>
  <form action="/admin/editStore/{{store.id}}" method="post">
    <label for="storeName">Store Name:</label>
    <input
      type="text"
      id="storeName"
      name="storeName"
      value="{{petStore.storeName}}"
      required
    />

    <label for="operationHours">Operation Hours:</label>
    <input
      type="text"
      id="operationHours"
      name="operationHours"
      value="{{petStore.operationHours}}"
      required
    />

    <fieldset>
      <legend>Location:</legend>
      <label for="address">Address:</label>
      <input
        type="text"
        id="address"
        name="location[address]"
        value="{{petStore.location.address}}"
        required
      />

      <label for="city">City:</label>
      <input
        type="text"
        id="city"
        name="location[city]"
        value="{{petStore.location.city}}"
        required
      />

      <label for="state">State:</label>
      <input
        type="text"
        id="state"
        name="location[state]"
        value="{{petStore.location.state}}"
        required
      />

      <label for="zipCode">Zip Code:</label>
      <input
        type="text"
        id="zipCode"
        name="location[zipCode]"
        value="{{petStore.location.zipCode}}"
        required
      />
    </fieldset>

    <label for="rating">Rating:</label>
    <input
      type="number"
      id="rating"
      name="rating"
      value="{{petStore.rating}}"
      min="0"
      max="5"
      step="0.1"
      required
    />

    <button type="submit">Update Store</button>
  </form>

  <!-- Section to Manage Reviews for the Store -->
  <h3>Manage Reviews for {{petStore.storeName}}</h3>
  <ul>
    {{#each reviews}}
      <li>
        <span>{{this.userId}} - {{this.reviewTitle}}</span>
        <a href="/editReview/{{this._id}}">Edit</a>
        <a href="/admin/deleteReview/{{this._id}}">Delete</a>
      </li>
    {{/each}}
  </ul>
</section>