<section>
  <h2>{{petStore.storeName}} - Everything Your Pet Needs!</h2>
  <p>{{petStore.description}}</p>
  <p>Location: {{petStore.location}}</p>
  <p>Open: {{petStore.operationHours.open}}</p>
  <p>Close: {{petStore.operationHours.close}}</p>
  <!-- Add more pet store details as necessary -->

  <!-- Display reviews for the pet store -->
  <h3>Reviews:</h3>
  {{#each reviews}}
    <div class="review">
      <p>{{this.userId}} says: "{{this.reviewDescription}}"</p>
    </div>
  {{/each}}

  <!-- Link to write a review -->
  <a
    href="/reviews/new?placeId={{petstore.id}}&redirectTo=petstore/{{petstore.id}}"
  >Write a Review</a>
</section>