  <section>
  <h1>
    This is your review
  </h1>

<body>
    {{#if (not deletionSuccess)}}
    {{#if (not updateSuccess)}}
      <h2>Title: {{reviewTitle}}</h2>
      <p>Description: {{reviewDescription}}</p>
      <p>Rating: {{rating}}</p>
      <br>
      <form action="/review/{{reviewId}}" method="POST" id="deleteForm">
        <input type="hidden" name="_method" value="DELETE">
        <button type="submit" onclick="return confirm('Are you sure you want to delete this item?')">Delete</button>
      </form>
      <br>
      <button onclick="openUpdateModal()">Update</button>
      <br>
      <div id="updateModal" class="modal">
        <div class="modal-content">
          <br>
          <button class="close-button" onclick="closeUpdateModal()">Close</button>
          <br>
          <form action="/review/{{reviewId}}" method="POST" id="updateForm">
            <input type="hidden" name="_method" value="PUT">
            <label>Updated title:</label>
            <input type="text" id="updatedTitle" name="updatedTitle" required>
            <label>Updated description:</label>
            <textarea id="updatedDescription" name="updatedDescription" required></textarea>
            <label>Updated rating:</label>
            <input type="number" id="updatedRating" name="updatedRating"  min="1" max="5" required>
            <button type="submit">Save</button>
          </form>
        </div>
      </div>
    {{/if}}
    {{/if}}
    {{#if deletionSuccess}}
      <p style="color: green;">Deletion successful!</p>
    {{else}}
      {{#if deletionError}}
        <p style="color: red;">Deletion failed. Please try again.</p>
      {{/if}}
    {{/if}}

    {{#if updateSuccess}}
      <p style="color: green;">Update successful!</p>
    {{else}}
      {{#if updateSuccess}}
        <p style="color: red;">Update failed. Please try again.</p>
      {{/if}}
    {{/if}}

    <p id="error" class="error" hidden></p>

    <script src="https://rawgit.com/leizongmin/js-xss/master/dist/xss.js"></script>
    <script src="../public/js/updateReview-csv.js"></script>

    <script>
        function openUpdateModal() {
          var modal = document.getElementById('updateModal');
          modal.style.display = 'block';
        };

        function closeUpdateModal() {
          var modal = document.getElementById('updateModal');
          modal.style.display = 'none';
        };
    </script>
</body>
</section>
