<section>
  <h2>Search Results</h2>
  {{#if searchResults.length}}
    <ul>
      {{#each searchResults}}
        <li>
          <h3>{{this.name}}</h3>
          <p>{{this.description}}</p>
          <p>Average Rating: {{this.averageRating}}</p>

          <!-- Conditional link based on type (park or pet store) Will probably change -->
          <a href="/{{this.type}}/{{this.id}}">View Details</a>
          <a href="/reviews/new?placeId={{this.id}}">Write a Review</a>
        </li>
      {{/each}}
    </ul>
  {{else}}
    <p>No results found for '{{searchQuery}}'. Please try again.</p>
  {{/if}}
</section>