<section>
  <h2>{{firstName}} {{lastName}}'s Profile</h2>
  <div class="pet-gallery">
    {{#each pets}}
      <div class="pet">
        <img src="{{this.petPhoto}}" alt="{{this.name}}" />
        <p>Meet {{this.name}}, a lovely {{this.breed}}</p>
      </div>
    {{/each}}
  </div>

  <h3>Your Reviews</h3>
  <!-- Display user's reviews -->
  {{#each userReviews}}
    <div>
      <h3>Review title: {{this.reviewTitle}}</h3>
      <p>Review Description: {{this.reviewDescription}}</p>
      <!-- Edit/Delete button/link for each review -->
      <a href="/review/{{this._id}}">Edit/Delete this Review</a>
    </div>
    <br>
  {{/each}}

</section>