<section>
  <h2>{{firstName}} {{lastName}}'s Profile</h2>
  <h4>My Pets:</h4>
  <div class="pet-gallery">
    {{#each pets}}
      <div class="pet">
        <p>{{this.petName}}</p>
        <p>Breed: {{this.petBreed}}</p>
        <a href="/pet/{{this._id}}">Edit/Delete Pet</a>
      </div>
    {{/each}}
  </div>


<form method="post" id="addPetForm">
  <h3>Add a Pet</h3>
    <div>
    <label for="petNameInput">Pet Name:</label>
    <input type="text" id="petNameInput" name="petNameInput" required/>
  </div>
  <div>
    <label for="petGenderInput">Pet Type:</label>
    <select id="petGenderInput" name="petGenderInput" required>
      <option value="">Select a Gender</option>
      <option value="male">Male</option>
      <option value="female">Female</option>
    </select>
  </div>
  <div>
    <label for="petBreedSelect">Pet Breed:</label>
    <select id="petBreedSelect" name="petBreedSelect" required>
    <option value="">Select a Breed</option>
    </select>
    
  </div>
  <button type="submit">Add pet</button>
</form>


  <h3>Your Reviews</h3>
  <!-- Display user's reviews -->
  {{#each userReviews}}
    <div>
      <h3>Review title: {{this.reviewTitle}}</h3>
      <p>Review Description: {{this.reviewDescription}}</p>
      <!-- Edit/Delete button/link for each review -->
      <a href="/review/{{this._id}}">Edit/Delete this Review</a>
    </div>
    <br>
  {{/each}}

</section>

<script src="https://rawgit.com/leizongmin/js-xss/master/dist/xss.js"></script>
<script src="../public/js/addPet-csv.js"></script>

<script src="../public/js/dogBreeds.js"></script> <!-- Link to AJAX script -->