<section>
  <h1>Welcome to BarkUp!</h1>
  <p>Discover the best parks and pet stores, as reviewed by pet lovers like you!</p>
  <p>Your dogs will wag their tails in excitement for these parks!</p>
  <p class="fun-fact">"Did you know? Dogs have about 1,700 taste buds. Let's
    find them a tasty treat!"</p>
</section>

<!-- Search Functionality -->
<section class="search-bar">
  <form action="/search" method="get">
    <label for="searchQuery">Search for Parks and Pet Stores:</label>
    <input
      type="text"
      id="searchQuery"
      name="query"
      placeholder="Search dog parks or pet stores"
    />
    <button type="submit">Search</button>
  </form>
</section>

<section class="top-rated-parks">
  <h2>Top Rated Parks</h2>
  <ul>
    {{#each topRatedParks}}
      <li>
        <a href="/parks/{{this.id}}">
          <h3>{{this.name}}</h3>
          <p>Rating: {{this.rating}} Stars</p>
        </a>
      </li>
    {{/each}}
  </ul>
</section>

<section class="popular-pet-stores">
  <h2>Popular Pet Stores</h2>
  <ul>
    {{#each popularPetStores}}
      <li>
        <a href="/petstores/{{this.id}}">
          <h3>{{this.name}}</h3>
          <p>Rating: {{this.rating}} Stars</p>
        </a>
      </li>
    {{/each}}
  </ul>
</section>